@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-darkBase: #0e0c15;
  --color-softBlue: #cad1e9;
  --color-pinkMagenta: #f33cc0;
  --color-electricBlue: #4349ff;
  --font-Aeonik: "Aeonik", sans-serif;
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
  --font-source-code-pro: var(--font-source-code-pro);
}

body {
  background-image: url("/background.png");
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-gradient-pink-blue-verticle {
    background: linear-gradient(
      to bottom,
      var(--color-pinkMagenta) 9%,
      var(--color-electricBlue) 72%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-blue-pink-horizontal {
    background: linear-gradient(to right, #090edb -140%, #8d1ea2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-stroke {
    border: none;
    position: relative;
    overflow: hidden;
  }

  .gradient-stroke::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: inherit;
    z-index: 1;
  }
}

.masked-image {
  --mask-url: url("/mask-image.svg");
  -webkit-mask-image: var(--mask-url);
  mask-image: var(--mask-url);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  padding: 26px;
  padding-bottom: 9px;
}
